h1, .headingOne {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size:38px;
}
h2, .headingTwo {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size:34px;
}
h3, .headingThree {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 500;
    font-size:28px;
}

a {
    text-decoration: none !important;
}
