html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    background:#F8F8F8;
  }
body {
    background:#F8F8F8;
}
@media only screen and (min-width: 960px) {
    .container {
        max-width: 920px;
    }
}

@media only screen and (min-width: 1260px) {
    .container {
        max-width: 1220px;
    }
}

@media only screen and (min-width: 1460px) {
    .container {
        max-width: 1420px;
    }
}

@media only screen and (min-width: 1560px) {
    .container {
        max-width: 1520px;
    }
}

@media only screen and (min-width: 1760px) {
    .container {
        max-width: 1720px;
    }
}


@media only screen and (min-width: 1960px) {
    .container {
        max-width: 1920px;
    }
}

/* BUTTONS
**********/
.chub {
    height:56px;
    i {
        position: absolute;
        right: 0px;  
    }
    strong {
        text-decoration: none;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}