<template>
    <div id="mainHeader">
            <v-container>
       <img src="/img/dslogo.png" />

        <v-menu
        offset-y
      bottom
      style="float:right"
    >

      <img slot="activator" src="/img/userIcon.png" />
      <v-list>
        <v-list-tile>
          <v-list-tile-title>
              Account Settings
          </v-list-tile-title>
        </v-list-tile>

        <v-list-tile @click.prevent="logout">
          <v-list-tile-title>
              Log Out
          </v-list-tile-title>
        </v-list-tile>


      </v-list>
    </v-menu>

        </v-container>
    </div>
</template>

<script>
    export default {
        data(){
            return {
            }
        },
        computed: {
            user(){
                return this.$store.getters.getProfile;
            }
        },
        methods: {
            logout: function () {
                this.$store.dispatch('authLogout')
                    .then(() => {
                        this.$router.push('/')
                    })
            }
        }
    }
</script>