<template>
    <div id="mainSidebar">
       <h3>{{user.name}}</h3>
    </div>
</template>
<script>
    export default {
        data(){
            return {
            }
        },
        computed: {
            user(){
                return this.$store.getters.getProfile;
            }
        }
    }
</script>