<template>
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
                <form method="POST" v-on:submit.prevent="login">
              <v-toolbar dark color="primary">
                <v-toolbar-title>DesignStudio Waves Console</v-toolbar-title>
                <v-spacer></v-spacer>
              </v-toolbar>
              <v-card-text>
                  <v-alert
                   v-if="authErrors.has('invalid_credentials')"
                   v-text="authErrors.get('invalid_credentials')"
                   :value="true"
                   type="error"></v-alert>
                  <v-text-field type="email" id="email" prepend-icon="person" name="login" label="Login" required v-model="email"></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" id="password" type="password" required v-model="password"></v-text-field>
     
              <div class="text-xs-right">
             
                <v-btn color="primary" type="submit">Login</v-btn>
                <router-link :to="{ name: 'password-email' }"><v-btn color="blue-grey" class="white--text">Forgot Password</v-btn></router-link>
              </div>
              
              </v-card-text>
                </form>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>

</template>

<script>
    export default {
        data(){
            return {
                'email':'',
                'password':'',
                'remember':false,
            }
        },
        computed: {
            authErrors(){
                return this.$store.getters.authErrors;
            }
        },
        methods: {
            login: function () {
                const { email, password, remember } = this;
                this.$store.dispatch('authRequest', { email, password, remember })
                    .then(() => {
                        this.$router.push('/dashboard')
                    })
            }
        }
    }
</script>