<template>
 <v-app id="inpire">
     <navbar-component></navbar-component>
     <v-container>
     <sidebar-component></sidebar-component>
     <router-view></router-view>
     </v-container>
     <footer-component></footer-component>
 </v-app>
</template>
<script>
export default {
    data() {
        return {

        }
    },
  methods: {

  }
};
</script>